# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.venv/
env/
venv/
ENV/
.ENV/

# Environment variables
.env
*.env

# Dependency directories
node_modules/

# Logs
*.log
*.csv
*.dat
*.out
*.gz

# Docker
*.docker
docker-compose.override.yml

# Ignore other directories
proces/
main/
chatbot/

# System files
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*~
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Other
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Compiled binaries
*.out
*.o
*.a
*.so
*.dylib