fastapi==0.112.0
kafka_python==2.0.2
langchain_community==0.2.10
langchain_core==0.2.27
langchain_groq==0.1.9
langchain_openai==0.1.20
langchain_pinecone==0.1.3
langchain_text_splitters==0.2.2
pydantic==2.8.2
pymongo==4.5.0
python-dotenv==1.0.1
redis==5.0.7
uvicorn==0.30.5
pika==1.3.2